body {
    background-color: #372D37;
    color: #D4D4D4;
}

a, a:hover, a:visited {
    color: #8d748d;
}

.pagination a {
    color: #aaa;
}

#main ul#links li a.current {
    background-color: #2d372d;
}
