/* Hide useless blocks */
body > header,
#links,
#sort,
body > footer,
.top_link,
div.tools,
header div,
.messages,
.entrie + .results {
    display: none !important;
}

article
{
	border: none !important;
}

div.vieworiginal a::after
{
	margin-left: 5px;
	content: "("attr(href)")";
}
