/* ### Layout ### */

body {
    background-color: #fff;
    font-family: Serif;
}

@page {
    margin: 1cm;
}

img {
    max-width: 100% !important;
}


/* ### Content ### */

/* Hide useless blocks */
body > header,
#links,
#sort,
body > footer,
.top_link,
div.tools,
header div,
.messages,
.entrie + .results {
    display: none !important;
}

article {
    border: none !important;
}

/* Add URL after links */
.vieworiginal a:after {
    content: " (" attr(href) ")";
}

/* Change border on current pager item */
.pagination span.current {
    border-style: dashed;
}
