/* Hide useless blocks */
body > header,
#links,
#sort,
body > footer,
.top_link,
div.tools,
header div,
.messages,
.entrie + .results {
    display: none !important;
}

article {
    border: none !important;
}

/* Add URL after links */
.vieworiginal a:after {
    content: " (" attr(href) ")";
}
