
a.back span {
    background: url('../img/default/left.png') no-repeat;
}

a.top span {
    background: url('../img/default/top.png') no-repeat;
}


a.fav span {
    background: url('../img/default/star-on.png') no-repeat;
}

a.fav span:hover {
    background: url('../img/default/star-off.png') no-repeat;
}

a.fav-off span {
    background: url('../img/default/star-off.png') no-repeat;
}

a.fav-off span:hover {
    background: url('../img/default/star-on.png') no-repeat;
}

a.archive span {
    background: url('../img/default/checkmark-on.png') no-repeat;
}

a.archive span:hover {
    background: url('../img/default/checkmark-off.png') no-repeat;
}

a.archive-off span {
    background: url('../img/default/checkmark-off.png') no-repeat;
}

a.archive-off span:hover {
    background: url('../img/default/checkmark-on.png') no-repeat;
}

a.twitter span {
    background: url('../img/default/twitter.png') no-repeat;
}

a.shaarli span {
    background: url('../img/default/shaarli.png') no-repeat;
}

a.email span {
    background: url('../img/default/envelop.png') no-repeat;
}

a.delete span {
    background: url('../img/default/remove.png') no-repeat;
}