body {
    background-color: #262627;
    color:#D4D4D4;
}


a, a:hover, a:visited {
    color: #D4D4D4;
}

a.back span {
    background: url('../img/dark/left.png') no-repeat;
}

a.top span {
    background: url('../img/dark/top.png') no-repeat;
}


a.fav span {
    background: url('../img/dark/star-on.png') no-repeat;
}

a.fav span:hover {
    background: url('../img/dark/star-off.png') no-repeat;
}

a.fav-off span {
    background: url('../img/dark/star-off.png') no-repeat;
}

a.fav-off span:hover {
    background: url('../img/dark/star-on.png') no-repeat;
}

a.archive span {
    background: url('../img/dark/checkmark-on.png') no-repeat;
}

a.archive span:hover {
    background: url('../img/dark/checkmark-off.png') no-repeat;
}

a.archive-off span {
    background: url('../img/dark/checkmark-off.png') no-repeat;
}

a.archive-off span:hover {
    background: url('../img/dark/checkmark-on.png') no-repeat;
}

a.twitter span {
    background: url('../img/dark/twitter.png') no-repeat;
}

a.email span {
    background: url('../img/dark/envelop.png') no-repeat;
}

a.delete span {
    background: url('../img/dark/remove.png') no-repeat;
}

.pagination a {
    color: #aaa;
}